@import url('https://fonts.googleapis.com/css2?family=Rubik+Maps&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.box {
  /* background-image: url("https://res.cloudinary.com/dusxlxlvm/image/upload/v1704886432/WhatsApp_Image_2023-08-30_at_4.55.59_PM_j27xhp.jpg"); */
  background-image: url('./assets/logo.jpeg');
  position: relative;
  background-size: cover;
  width: 680px;
  height: 430px;
  border: 2px solid white;
  border-radius: 20px;
  overflow: hidden;

  & header {
    border-bottom: 2px solid yellow;
    height: 70px;
  }

  .content {
    width: 100%;
    height: calc(100% - 70px);
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;

    & .written {
      width: 65%;
      height: 100%;
      /* border: 1px solid yellow; */
      padding: 5px;
      color: black;
      font-weight: 600;
      background: rgba(255, 255, 255, 0.4);
      backdrop-filter: blur(5px);
    }

    .image {
      width: 35%;
      padding: 5px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: whitesmoke;
      justify-content: space-around;
      border-left: 1px solid yellow;

      & img {
        /* margin: 0px auto;
        margin-top: 20px; */
        width: 220px;
        height: 220px;
        object-fit: cover;
        border-radius: 10px;
        border: 2px solid yellow;
        position: relative;
      }
    }
  }
}

.large {
  font-size: 1.2rem;
  font-weight: 700;
  /* font-family: 'Rubik Maps', system-ui; */
  letter-spacing: 3px;
}

.yellow {
  color: yellow;
  font-weight: 700;
}

.back {
  background: black;
  padding: 0 7px;
  border-radius: 5px;
}

.blue {
  color: aqua;
  font-size: 1.1rem;
}

.red {
  color: rgb(242, 255, 0);
}

.btn {
  margin-top: 20px;

  & button {
    /* color: yellow; */
    border-radius: 20px;
    color: black;
    font-weight: 800;
    letter-spacing: 2px;
    margin: 0 10px;
    padding: 5px 20px;
    background: yellow;
  }
}

.box p {
  font-weight: 700;
}

.modal,
.pass {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 400px;
  width: 300px;
  transform: translate(-50%, -50%);
  /* background: #f0f0f0; */
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;

  & div {
    margin: 20px 0px;

    & input {
      padding: 3px 10px;
    }
  }

  button {
    margin-top: 80px;
    border: 1px solid skyblue;
  }
}

.pass {
  height: 200px;

  & button {
    margin-top: 20px;
  }

  ::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    width: 3000px;
    height: 2000px;
    transform: translate(-50%, -50%);
    z-index: -2;
    background: rgba(0, 0, 0, 0.1);
  }
}
