@import url('https://fonts.googleapis.com/css2?family=Rubik+Maps&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrapper {
  background-image: url('./assets/grey.webp');
  background-size: cover;
  position: relative;
  width: 700px;
  height: 700px;
  /* background: white; */
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  border: 1px solid skyblue;
  padding: 7px 10px;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn {
  margin-top: 10px;

  & button,
  select {
    /* color: yellow; */
    border-radius: 20px;
    color: black;
    font-weight: 800;
    letter-spacing: 2px;
    margin: 0 10px;
    padding: 5px 20px;
    background: yellow;
  }
}

.modal,
.pass {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 400px;
  width: 350px;
  transform: translate(-50%, -50%);
  /* background: #f0f0f0; */
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;

  & div {
    margin: 20px 0px;

    & input {
      padding: 3px 10px;
      width: 80%;
    }
  }

  button {
    margin: 0 5px;
    margin-top: 30px;
    border: 1px solid skyblue;
  }
}

.pass {
  height: 200px;

  & button {
    margin-top: 20px;
  }

  ::before {
    content: "";
    position: absolute;
    top: 95px;
    left: 150px;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    z-index: -2;
    background: rgba(0, 0, 0, 0.1);
  }
}

.cute {
  position: absolute;
  top: 2px;
  left: -22px;
  width: 130px;
  z-index: 5;
  filter: drop-shadow(7px 8px 4px #222);
}

select,
option {
  text-align: center;
}